html {
    box-sizing: border-box;
    overflow: hidden;
    background-image: url(../IMG/background.png);
    background-size: cover;
    margin: 0 auto;
    text-align: center;
}

body {
    margin: 0 auto;
    text-align: center;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main-page {
    display: inline-block;
    margin-left: 0 auto;
    margin-right: 0 auto;
    margin-top: 25px;
}

.main-page>.header {
    display: flex;
    flex-direction: row;
    width: 1022px;
    height: 55px;
    justify-content: space-between;
    text-decoration: none;
}

.header>.header-left {
    color: #fff;
    font-family: 'Roboto';
    text-decoration: none;    
}

.header-left>div,
    .header-left01>div {
    display: flex;
    width: 70px;
    height: 61px;
    justify-content: space-between;
    padding-left: 0px;
    z-index: 0;
}

.header-left.logo {
    display: block;
    background-image: url(../IMG/logo_Milan.png);
    background-repeat: no-repeat;
}

.header-left.logo:hover .header-left {
    display: block;
    background-image: url(../IMG/logo_Main_orange.png);
    background-repeat: no-repeat;
    color: #F26522;
    z-index: 1;
    transition: 0.5s;
}
.header-left.milan {
    position: absolute;
    color: #fff;
    font-size: 29px;
    padding-left: 61px;
    padding-top: 0px;
    z-index: 0;
    transition: 0.5s;
} 

.header-left.holidays {

    position: absolute;
    color:#fff;
    padding-left: 61px;
    padding-top: 30px;
    font-size: 18px;
    z-index: 1;
}

.header-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    font-family: 'Roboto';
    padding-right: 0px;}

.header-right>div {
    color: #fff;
    font-family: 'Roboto';
    font-size: 18px;
    text-decoration: none;
    padding-right: 0px;}

.header-right.email01 {
    display: inline-block;
    position: fixed;
    padding-top: 0px;
    color:#fff;
    z-index: 1;
}

.header-right.phone {
    display: inline-block;
    text-align: end;
    padding-right: 0px;
}

.header-right.email01:hover {
    opacity: 0;
    }
 
.header-right:hover {
    color:#F26522;
    transition: 0.5s;
} 

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: auto;
    grid-row-gap: 3px;
    position: relative;
    width: 1094px;
    height: 612px;
    text-decoration: none;
    justify-items: stretch;
    align-items: stretch;
    align-self: center;
    margin-top: 25px;
    }

.grid-container>div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    place-items: center;
    width: 300px;
    height: 220px;
    justify-content: center;
    align-items: bottom; 
    color: #fff;
    font-family: 'Roboto';
    text-decoration: none;
    z-index: 0;
}
    
.item- {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
width: 300px;
height: 220px;
z-index: 0;
}  

.itemlink- {
display: block;
position:relative;
padding-right: 20px;
padding-top: 20px;
color: #fff;
font-family: 'Roboto';
text-decoration: none;
align-items: center;
top: 115px;
color: #fff;
z-index: 0;
}

 .spoiler {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    top: 164px; 
    left: 0px;
    width: 300px;
    height: 55px;
    background-color: transparent;
    color: transparent;
    z-index: 0;
}

.complex_lighting:hover .spoiler {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    top: 104px; 
    left: 0px;
    width: 300px;
    height: 55px;
    background-color: #F26522;
    color: #fff;
    z-index: 1;
    transition: 0.5s;
}

.complex_lighting:hover .itemlink- {
    color: #F26522;
        z-index: 1;}

.spoiler>div,.spoiler>spoiler-left {
}

.spoiler-left>div,.spoiler-left>spoiler-left.top {
}

.spoiler-left.top {
    display: inline-block;
    position: absolute;
    font-size: 10px;
    width: 58px;
    height: 15px;
    padding-left: 3px;
    padding-top: 7px;
}

.spoiler-left.bottom {
    display: inline-block;
    position: absolute;
    font-size: 20px;
    width: 58px;
    height: 15px;
    padding-left: 14px;
    padding-top: 24px;
}

.spoiler-right {
    display: inline-block;
    position: absolute;
    font-size: 14px;
    width: 441px;
    height: 15px;
    padding-left: 37px;
    padding-top: 28px;
}

.item-01 {
background-image: url(../IMG/image_Passage.png);
}
   
.item-02 {

background-image: url(../IMG/image_Church.png);
}

.item-03 {
background-image: url(../IMG/image_Food.png);
}

.item-04 {
background-image: url(../IMG/image_Night.png);
}

.item-05 {
    background-image: url(../IMG/image_Architecture.png);
    }
    
.item-06 {
    background-image: url(../IMG/image_Walking.png);
        }

.footer {
    display: flex;
    position: relative;
    font-size: 12px;
    color: #fff;
    padding-left: 361px;
    text-align: center;  
}

 